@import "tailwindcss";
@plugin "daisyui";

:root {
  font-family: "Ubuntu", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px;
  margin: 0;

  --viewport-padding: 16px;
}

/* Toast styles */
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--kb-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}

.animate-slideIn {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.animate-hide {
  animation: hide 100ms ease-in;
}

.animate-swipeOut {
  animation: swipeOut 100ms ease-out;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(4px) scale(0.98);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 120ms ease-out;
}
